<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>DV Backend Shopping Cart Challenge</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}"></link>
</head>
<body>

<div class="with:80%">
    <h1>DV Backend Shopping Cart Challenge</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>SKU</td>
                <td>Name</td>
                <td>Price</td>
                <td>Inventory</td>
                <td>Add To Cart</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.sku}">SKU</td>
                <td th:text="${item.name}">Name</td>
                <td th:text="${item.price}">Price</td>
                <td th:text="${item.inventoryQty}">Inventory</td>
                <td><a th:href="@{/addToCart(itemSku=${item.sku})}">Add To Cart</a></td>
            </tr>
        </tbody>
    </table>
    <a href="/myCart" th:href="@{/myCart}">My Cart</a>
    <br>
<!--    <a href="/addItem" th:href="@{/addItem}">Add Item</a>-->
</div>
</body>
</html>